<!DOCTYPE html>
<html>
    <head>
        <title>MMP</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="logo">
            <img src="{% static 'assets/img/Capgemini-Logo-2017.svg' %}" alt="Capgemini">
        </div>
        <h1>MMP</h1>
        {{ login_form.non_field_errors }}
        <form class="login-form" action="/recover/" method="post">

           {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}"/>

            <table cellspacing="50">

                <tr>
                    <td>
	       <strong><b><br><font face="verdana" color="blue"> YOUR NEW PASSWORD HAS BEEN SENT TO YOUR EMAIL.</font></br></b></strong>
		<meta http-equiv="refresh" content="3;/accounts/login/" />	
                </tr>

            </table>
        </form>
    </body>
</html>

