/* ==================== Form style sheet ==================== */

/* form { margin: 25px 0 0 29px; width: 450px; padding-bottom: 30px; }*/

fieldset {
  margin: 20px 20px 0px 20px;
  border: 1px solid #095D92;
  padding: 12px 17px;
  background-color: #DFF3FF;
}
.aws-form{
  margin: auto;
}
/*legend { font-size: 1.1em; background-color: #095D92; color: #FFFFFF; font-weight: bold; padding: 4px 8px; }*/

/*label.float { float: left; display: block; width: 100px; margin: 4px 0 0 0; clear: left; }
label { display: block; width: auto; margin: 0 0 10px 0; }
label.spam-protection { display: inline; width: auto; margin: 0; }

input.inp-text, textarea, input.choose, input.answer { border: 1px solid #909090; padding: 3px; }
input.inp-text { width: 300px; margin: 0 0 8px 0; }
textarea { width: 400px; height: 150px; margin: 0 0 12px 0; display: block; }

input.choose { margin: 0 2px 0 0; }
input.answer { width: 40px; margin: 0 0 0 10px; }
input.submit-button { font: 1.4em Georgia, "Times New Roman", Times, serif; letter-spacing: 1px; display: block; margin: 23px 0 0 0; }

form br { display: none; }*/

/* ==================== Form style sheet END ==================== */

