<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/eks_table.css' %}">
    </head>
    <body>
        <div id="table">
            <div><b>Cluster Name</b></div>
            <div><b>Master Stack Name</b></div>
            <div><b>Worker Stack Name</b></div>
            <div><b>Worker Nodes</b></div>
            <div><b>Action</b></div>
            {% for cluster in clusters %}
                <div>{{cluster.EksClusterName}}</div>
                <div>{{cluster.MasterStack}}</div>
                <div>{{cluster.WorkersStack}}</div>
                <div>{{cluster.WorkerNo}}</div>
                <button type="submit" formmethod="GET" formaction="/terminate/{{cluster.EksClusterName}}">Terminate</button>
            {% endfor %}
        </div>
    </body>
</html>
